* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COMMON */
.app-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Test */
  background-color: aquamarine;
}
.app-container {
  width: 80%;
  height: 90%;
  /* Test */
  background-color: cornflowerblue;
}
